@model DepartmentViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Department @Model.Name Details</h1>

<br />
<form asp-action="Details">

    <partial name="PartialViews/DeleteDetailsPartialView" />

    <a asp-action="Edit" asp-route-id="@Model.Id" class="btn btn-secondary">Edit</a>
    <a asp-action="Index" class="btn btn-light">Back To List</a>

</form>
    
D:\Full-Stack_c42\backend(.net)\aliaa\07 ASP.NET Core MVC\Demos\MVCSolution\Demo.PL\Views\Department\.cshtml