@model UsersViewModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Are You Sure You Want To Delete @Model.FName @Model.LName User</h1>
<br />
<div asp-validation-summary="All"></div>

<form asp-action="ConfirmDelete">
    <partial name="PartialViews/DeleteDetailsPartialView" />



    <input type="submit" value="Delete" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Cancel</a>


</form>
