@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
}

<div asp-validation-summary="All"></div>

<form asp-action="ConfirmDelete">
    <partial name="PartialViews/DeleteDetailsPartialView" />



    <input type="submit" value="Delete" class="btn btn-primary" /> |
    <a asp-action="Index" class="btn btn-light">Cancel</a>


</form>
